/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.caja {
    width: 100%;
    background-color: rgb(141, 141, 152)232, 232, 245);
    box-shadow: 3px 5px 4px grey,
        3px 15px 20px grey,
        10px 25px 50px grey;
}

ul {
    padding: 0;
    margin-bottom: 0;
    
}

ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border-color: lightgray;
    opacity: 50%;
    
  
}

h1 {
    text-align: center;
    
    
}

input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

input::placeholder {
    opacity: 20%;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    padding-top: 15px;
    padding-left: -20px;
    padding-right: 15px;
    padding-bottom: 10px;
    
    
}
input:focus {
    
    border: none;
    font-weight: 100;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: x-large;
    
  }
  .task{
    
  width: auto;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: solid 1px;
  border-color: lightgrey;
  color: grey;
  border: none;
  
  }
